<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Android 13 이상 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOGOROK"
        tools:targetApi="31">

        <!-- 뒤로가기 페이지 내용 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServiceTermsActivity"/>
        <activity android:name=".PrivacyTermsActivity"/>
        <activity android:name=".HealthTermsActivity"/>
        <activity android:name=".LocationTermsActivity"/>
        <activity android:name=".RegisterTermsActivity" />
        <activity android:name=".RegisterInputNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RegisterInputBirthGenderActivity"/>
        <activity android:name=".RegisterInputEmailActivity"/>
        <activity android:name=".RegisterInputPasswordActivity"/>
        <activity android:name=".RegisterInputNotificationActivity"/>
        <activity android:name=".RegisterInputCompleteActivity"/>
        <!-- 설문조사 뒤로가기 페이지 내용 -->
        <activity android:name=".SurveyStep1Activity" />
        <activity android:name=".SurveyStep2Activity" />
        <activity android:name=".SurveyStep3Activity" />
        <activity android:name=".SurveyStep4Activity" />
        <activity android:name=".SurveyStep5Activity" />
        <activity android:name=".SurveyStep6Activity" />
        <activity android:name=".SurveyStep7Activity" />
        <activity android:name=".SurveyFinalActivity" />
        <activity android:name=".StressLoadingActivity" />

        <!--연동 페이지-->
        <activity android:name=".CalendarConnectActivity" />
        <!--<activity android:name=".GoogleSignInBottomSheet" />-->
        <activity android:name=".CalendarSyncingActivity" />
        <activity android:name=".CalendarConnectSuccessActivity" />
        <activity android:name=".CalendarCompleteActivity" />

        <activity android:name=".SplashActivity" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
